{
  "extends": "stylelint-config-standard-scss",
  "ignoreFiles": "",
  "rules": {
    "at-rule-empty-line-before": null,
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "comment-no-empty": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "font-family-name-quotes": "always-where-recommended",
    "function-url-quotes": "always",
    "rule-empty-line-before": null,
    "selector-pseudo-element-colon-notation": "double",
    "unit-no-unknown": true
  }
}
