<?xml version="1.0"?>
<ruleset name="WordPress Theme Coding Standards">

	<description>TK ruleset</description>

	<!-- Only check the PHP, CSS and SCSS files. JS files are checked separately with JSCS and JSHint. -->
	<arg name="extensions" value="php"/>

	<!-- Check all files in this directory and the directories below it. -->
	<file>.</file>

	<rule ref="WordPress-VIP">
    <exclude name="WordPress.VIP.RestrictedFunctions" />
    <exclude name="WordPress.VIP.SlowDBQuery" />
    <exclude name="WordPress.VIP.TimezoneChange" />
    <exclude name="WordPress.VIP.RestrictedVariables" />
		<exclude name="WordPress.WP.I18n.TranslatorsCommentWrongStyle" />
		<exclude name="WordPress.WP.I18n.MissingTranslatorsComment" />
		<exclude name="WordPress.WP.AlternativeFunctions" />
	</rule>

	<arg value="ps"/>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>
</ruleset>
