@import '../../utils';

.gdpr-hidden {
	display: none;
}
.gdpr {
	button {
		font-family: Helvetica, Arial, sans-serif !important;
		color: #000;
		font-weight: normal;
		font-size:14px;
	}
	img {
		width: 100% !important;
	}
	&.overlay{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.7);
		z-index: 99999999;
		display: none;
	}
	&.cookie-bar{
		position: fixed;
		bottom: 0;
		background: rgba(0,0,0,0.7);
		width: 100%;
		color: #fff;
		z-index: 99999999;
		.wrapper{
			padding: 20px 40px;
			&:after {
				content: "";
				display: table;
				clear: both;
			}
			p {
				margin: 0;
				font-size: 14px;
				font-weight: normal;
			}
			.content {
				@include breakpoint(medium) {
					float: left;
					max-width: 50%;
				}
			}
			.right {
				@include breakpoint(medium) {
					float: right;
				}
			}
		}
		.gdpr-cookie-preferences {
			outline: none;
			background: none;
			border:none;
			font-weight: normal;
			font-size: 14px;
			text-decoration: underline;
			position: relative;
			margin-left: 9px;
			color: #fff;
			float: left;
			&:before {
				content: '\276F';
				font-size: 1.1em;
				font-weight: normal;
				padding-right: 5px;
				color: #fff;
				position: absolute;
				left: -7px;
				top: 8px;
			}
			&:hover,
			&:active,
			&:focus,
			&:focus-within,
			&:visited {
				background:none;
			}
		}
		button {
			margin: 0 5px;
			padding: 9px 10px;
			@include breakpoint(medium) {
				margin: 0 20px;
			}
		}
		.accept-cookies {
			background: #6cc04a;
			font-weight: normal;
			font-size: 16px;
			float:right;
			@include breakpoint(medium) {
				padding: 9px 20px;
			}
			&:hover {
				background: #63ad43;
			}
			&:before {
				content: '\2713';
				padding-right: 3px;
			}
		}
	}
	&.cookie-preferences {
		.wrapper {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 999999999;
			width: 768px;
			background: #fff;
			height: 470px;
			overflow: hidden;
			display: none;
			form{
				> header {
					display: flex;
					height: 82px;
					.logo {
						max-width: 30%;
						a {
							padding: 0;
							margin: 0;
							img{
								display: block;
							}
						}
					}
					.box-title {
						background: #b5b5b5;
						flex-grow: 1;
						display: flex;
						align-items: center;
						justify-content: center;
						h3 {
							margin: 0;
							padding: 0;
							text-align: center;
						}
					}
				}
				> footer {
					padding: 0 20px;
					text-align: right;
				}
			}
			.content {
				display: flex;
				height: calc( 100% - 82px );
				.tabs {
					min-width: 30%;
					padding: 0;
					margin: 0;
					li {
						border-top: 1px solid rgba(0,0,0,0.3);
						list-style: none;
						&:first-child{
							border-top: none;
						}
						button{
							width: 100%;
							background: #dedede;
							color: darken( #dedede, 60% );
							font-weight: bold;
							font-size:14px;
							text-align: left;
					    padding: 10px 20px;
							&:hover{
								background: darken( #dedede, 10% );
							}
							&.active {
								background: #fff;

							}
						}
					}
				}
				.tab-content {
					width: 100%;
					> div {
						display: none;
						padding: 20px;
						overflow: auto;
						font-size: 13px;
						height: 326px;
						header{
							display: flex;
							justify-content: space-between;
							height: 38px;
							h4, label{
								margin: 0;
							}
						}
						.info{
							height: calc( 100% - 38px );
							overflow: auto;
							strong{
						    border-bottom: 1px solid rgba(0,0,0,0.4);
						    display: block;
							}
							.cookies-used{
								font-family: Helvetica, Arial, sans-serif;
								border-bottom: 1px solid rgba(0,0,0,0.4);
						    padding: 7px 0;
						    span{
						    	font-style: italic;
						    	color: #5f5f5f;
						    }
						    .space-between{
							    display: flex;
							    justify-content: space-between;
							    p{
							    	margin: 0;
							    	color: #000;
							    	font-size: 15px;
							    }
							    .gdpr-switch{
							    	width: 37px;
					    	    height: 20px;
					    	    input{
					    	    	&:checked {
					    	    		+.gdpr-slider {
					    	    			&:before{
														transform: translateX(14px);
					    	    			}
					    	    		}
					    	    	}
					    	    }
					    	    .gdpr-slider{
					    	    	&:before{
					    	    		bottom: 2px;
					    	    	}
					    	    }
							    }
						    }
							}
						}
					}
					.active {
						display: block;
					}
				}
			}
		}
	}
}


.gdpr-switch {
  position: relative;
  display: inline-block;
  width: 45px;
	height: 24px;
	input{
		display: none;
	}
	.gdpr-slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
		transition: .4s;
		&:before{
			position: absolute;
			content: "";
			height: 16px;
			width: 16px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			transition: .4s;
		}
		&.round {
			border-radius: 34px;
			&:before {
				border-radius: 50%;
			}
		}
	}
	input {
		&:checked {
			+.gdpr-slider {
				background-color: #2196F3;
				&:before {
					transform: translateX(21px);
				}
			}
		}
		&:focus {
			+.gdpr-slider {
				box-shadow: 0 0 1px #2196F3;
			}
		}
	}
}
