/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 9999;
  cursor: pointer;
  display: inline-block;
  width: 21px;
  &:before, &:after{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  &:before{
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }
  &:after{
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }
  &:hover, &:focus{
    &:before, &:after{
      visibility: visible;
      opacity: 1;
    }
  }
}
