.gdpr-settings-form{
	#tabs{
		margin-top: 20px;
		.hndle{
			font-size: 14px;
	    padding: 8px 12px;
	    margin: 0;
	    line-height: 1.4;
		}
	}
}

/* The switch - the box around the slider */
.gdpr-switch {
  position: relative;
  display: inline-block;
  width: 45px;
	height: 24px;
	input{
		display: none;
	}
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
		transition: .4s;
		&:before{
			position: absolute;
			content: "";
			height: 16px;
			width: 16px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			transition: .4s;
		}
		&.round {
			border-radius: 34px;
			&:before {
				border-radius: 50%;
			}
		}
	}
}
input {
	&:checked {
		+.gdpr-slider {
			background-color: #2196F3;
			&:before {
				transform: translateX(21px);
			}
		}
	}
	&:focus {
		+.gdpr-slider {
			box-shadow: 0 0 1px #2196F3;
		}
	}
}
